@page

<section class="container py-5 text-center">

    <div class="content-panel p-5">

        <div style="font-size:80px;">
            ✅
        </div>

        <h1 class="fw-bold mt-4">
            Bedankt voor je bestelling!
        </h1>

        <p class="lead mt-3">
            Je bestelling is succesvol geplaatst.
        </p>

        <a asp-page="/Products/Index"
           class="btn btn-success btn-lg mt-4">

            Verder winkelen

        </a>

    </div>

</section>